#ignore huge parquet file
metadata/riksdagen_speeches.parquet
metadata/riksdagen_speeches_filt_corrupt.parquet
metadata/riksdagen_speeches_with_ages.parquet
metadata/riksdagen_speeches_filt_bleu.parquet
